@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&family=Nunito&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
  word-break: break-word;

}

body {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 500px;
  width: 100%;
  height: calc(100vh - 40px);
  padding: 30px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  border: 3px solid greenyellow;
  border-radius: 5px;
  background-color: #fdfdfd;
  box-shadow: 1px 2px 10px 2px rgb(89, 107, 89);
}

.btnPage {
  background-color: #fff;
  border: 1px solid #9c9c9c;
  border-radius: 10px;
  padding: 5px 10px;
  text-transform: uppercase;
  box-shadow: 0px 1px 3px 1px #adff2f;
  font-family: 'Gochi Hand', cursive;
  font-size: 1.1rem;
  letter-spacing: 1px;
  width: 180px;
}

.btnPage:active {
  background-color: #ce43d5;
  border: 2px solid #adff2f;
  color: #fff;
  transform: scale(1.2);
}

.pageForm {
  align-self: flex-end;
  
}

/* Tamaño del scroll */
.list::-webkit-scrollbar {
  width: 10px;
}

/* Estilos barra (thumb) de scroll */
.list::-webkit-scrollbar-thumb {
  background: #ce43d5;
  border-radius: 5px;
}

.list::-webkit-scrollbar-thumb:active {
  background-color: #adff2f;
}

/* Estilos track de scroll */
.list::-webkit-scrollbar-track {
  background: #adff2f;
  border-radius: 5px;
}

.list::-webkit-scrollbar-track:active {
  background: #ce43d5;
}

.heading h1 {
  font-size: 2.4rem;
  text-transform: uppercase;
  font-family: 'Gochi Hand', cursive;
  color: #ce43d5;
  text-shadow: 1px 2px 3px #000;
  letter-spacing: 3px;
}

.heading hr {
  border: none;
  height: 6px;
  background-color: #ce43d5;
  background: linear-gradient(to right, #ce43d5, #c68fb6);
  margin: 8px 0;
}
.fecha{
  font-weight: 500px;
  font-family: 'Gochi Hand', cursive;
  font-size: 1.3rem;
}

.input form {
  display: flex;
  justify-content: space-evenly;
  flex-flow: row;
}

.input .inputTarea {
  padding: 0.7em 5em;
  border: 3px solid greenyellow;
  border-radius: 10px;
  font-size: 17px;

}

.inputTarea:focus {
  outline: none;
  border: 3px solid rgb(201, 48, 201);
  border-radius: 10px;
}

.todobtn {
  background-image: url("../images/Pen-plus.48.png");
  background-color: #fff;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 3px solid greenyellow;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s linear all;
  width: 50px;
  height: 50px;
}

.todobtn:active {
  transform: scale(1.3);
  border: 3px solid rgb(201, 48, 201);
}

.list {
  flex-grow: 1;
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  overflow-y: auto;
  overflow-x: hidden;
  min-height: 45px;
}

#listelement {
  flex-shrink: 0;
  width: 100%;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  border-bottom: 2px solid #adff2f;
  font-size: 1.1rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.tachar {
  text-decoration: wavy line-through #da25da;
}

@media (max-width: 400px) {
  .container {
    max-width: none;
    border: none;
    height: 100vh;
  }

}